.bottom-section {
    background: url('../../src/images/content/Budda.jpg') center no-repeat;
    background-size: cover;
    height: 100%;
    width:100%;
    min-height: 1200px;
    
}

.bottom-section__form {
    width: 70%;

    @include tablets(){
        width: 100%;
    }
}