.bottom-section {
    background: url('../../src/images/content/Budda.jpg') center no-repeat;
    background-size: cover;
    height: 100%;
}

.bottom-section__form {
    padding-bottom: 15%;
    width: 70%;

    @include tablets(){
        width: 100%;
    }
}