.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__menu {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.logo {
    font-size: 35px;
    font-weight: 800;
    color: #414c63;
}