

.menu-burger-icon {
    cursor: pointer;
    margin: 0 auto;
    margin-left: 1.875em;
    position: relative;
    width: 26px;
    height: 26px;
  }
  .menu-global {
    position: absolute;
    left: 0;
    border-top: 4px solid #414c63;
    width: 100%;
  }
  .menu-burger-top {
    top: 4px;
  }
  .menu-burger-middle {
    top: 14px;
  }
  .menu-burger-bottom {
    top: 1.5rem;
  }