.triangles {
    position: relative;
    height: 10rem;
    bottom: -38.625rem;
}

.triangles__item {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    fill: #fff;
}



.triangles-bottom{
    fill: #fff;
    width:100%;
    position: relative;
    bottom: -9.8rem;
}

.triangles__shape {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 50%;
  fill: #fff;
  height: 100%;

  &_left {
    left: 0;
  }
  &_right {
    right: 0;
  }
}