.triangles {
    position: relative;
    height: 80px;
    margin-top: -80px;
}

.triangles__item {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    fill: #fff;
}

.triangles__item_left {
    left: 0;
}

.triangles__item_right {
    right: 0;
}

