
.user-skills__item {
    margin-bottom: 58px;
    margin-left: -10%;

    @include tablets(){
        margin-left: 0;
    }
}

.user-skills-row__title {
    font-size: 30px;
    font-weight: 700;
}

.user-skills-row__list {
    display: flex;

        @include tablets() {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        }

}
