.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info__desc {
    max-width: 175px;
    color: rgba(65, 76, 99, .4);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.user-info__name {
    font-weight: 800;
    font-size: 72px;
    max-width: 420px;
    text-align: center;
    line-height: 5rem;
}