.user__avatar {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 50%;
}

.user-pic {
    border-radius: 50%;
}

.user__data-cell {
    font-weight: 600;
}

.user__data-cell_one {
    color: rgba(65, 76, 99, .5);
    margin-bottom: 2%;
}

