.welcome-section {
    
    

    @media screen and (max-width: 640px) {
    background: url('../../src/images/content/Mountain-Baloon.jpg')25% no-repeat;
    background-size: cover;
    }

    @include phones() {
    background: url('../../src/images/content/Mountain-Baloon.jpg') 70% no-repeat;
    background-size: cover;
    }

}